<body>
<div id="main" class="page_center">
    <div id="left">
<!--        <img src="assets/img/welcome.jpg" style="margin-top: 30px">-->
        <div id="header" style="margin-top: 40px">
            <h2 class="header">What can you do on our website?</h2>
        </div>
        <div id="content">
            <span>Welcome to our website-PC!
                PC is short for Prediction Center. On our website, you can find multiple prediction function covering weather, racing, personality, etc. Come, join us, and start your prediction tour!  </span>
        </div>
        <hr style=" height:1px;width:700px;float:left;border:none;border-top:2px solid #aaaaaa;margin-top: 20px" />

        <div id="subheader">
            <h2 class="header" style="margin-top: 50px">New Prediction</h2>
            <div id="container">
                <div class="subcontainer">
                    <div class="box1"><img src="/assets/img/weather.png" width="180px" height="180px"> </div>
                    <div class="box2">
                        <h3 class="header" style="font-family: Calibri,serif;">Weather Prediction</h3>
                        <span>Here you can get the The latest and most accurate weather forecast.</span>
                    </div>
                </div>
                <div class="subcontainer">
                    <div class="box3">
                        <h3 class="header" style="font-family: Calibri,serif;">Racing Prediction</h3>
                        <span>Here you can get real-time racing prediction.</span></div>
                    <div class="box4"><img src="/assets/img/racing.jpg" width="180px" height="180px"></div>
                </div>
                <div class="subcontainer">
                    <div class="box1"><img src="/assets/img/persona.jpg" width="180px" height="180px"> </div>
                    <div class="box2">
                        <h3 class="header" style="font-family: Calibri,serif;">Personality Prediction</h3>
                        <span>Here covers some amazing tests which can tell your personality, intelligence, potential talents, etc.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right">ads

    </div>
</div>
<footer id="footer">
    <div style="height: 10px"></div>
    <p class="white">The Prediction Center is an amazing website designed to predict race matches, personality, weather, etc. It's only for research and owned by</p>
    <p class="white">Vanderbilt University, Nashville, TN</p>
</footer>
</body>
