<body>
<div id="main" class="page_center">
    <div id="left">
        <div id="header" style="margin-top: 40px">
            <h2 class="header">     Personality Prediction</h2>
        </div>
        <hr style=" height:1px;width:700px;float:left;border:none;border-top:2px solid #aaaaaa;" />



        <img src="/assets/img/traitify.png" style="margin-top: 20px;width: 700px;height: 250px"  (click)="openDialog()">

        <img src="/assets/img/magic.png" style="margin-top: 20px;width: 700px;height: 250px">


        <fieldset style="width: 500px;margin-top: 40px">
            <legend>Test Name</legend>
            <div class="box_a">
                <span>details</span>
            </div>
            <div class="box_a">
                <button>GO!</button>
            </div>
        </fieldset>



    </div>
    <div id="right">ads</div>
</div>
<footer id="footer">
    <p>footer</p>
</footer>
</body>


