html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/* left part*/
#left{
    width: 900px;
    position: absolute;
    left: 50px;
}
/* right part*/
#right{
    background-color: #aaaaaa;
    height: 1000px;
    margin-left:900px;
    top:0;
}
/*title font setting */
.header.h1{
    font-size: 50px;
}


