html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/* left part*/
#left{
    width: 900px;
    position: absolute;
    left: 100px;
}
/* right part*/
#right{
    background-color: #EDEDED;
    height: 1100px;
    margin-left:900px;
    top:0;
}
/*title font setting */
.header.h2{
    font-size: 50px;
}
footer{
    height: 100px;
    background-color: rgb(70,82,176);
    flex: 0 0 auto;
}



